{% extends 'base.html' %}

{% block title %}
    Вход
{%endblock%}

{% block sidebar  %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}  
    <h1>Вход</h1>
    <form method="post">
      {% csrf_token %}
  
    <div style="color: brown;"> {{form.errors}} </div> 
        {% for field in form %}
    <div class="form-group mb-2">
        {{ field.label_tag}}
        {{ field }}
    <div class="invalid-feedback">
        {{ field.errors }}
    </div>
  </div>
{% endfor %}

      <button type="submit" class="btn btn-primary btn-block">Зарегестрироваться</button>
    </form>
{% endblock %}